html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

div {
    position: absolute;
    background-color: tomato;
    left : 5vw;
    top : 5vh;
    transition : width 500ms , height 500ms;
}