html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#pion {
    position: absolute;
    width: 60px;
    height : 60px;
    background-color: tomato;
    box-shadow: 2px 2px 0 3px yellow;
    border-radius : 50%;
    transition : left 250ms , top 250ms;
}

.case {
    display: block;
    background-color: grey;
    width: 100px;
    height: 100px;
    margin: 5px;
    float : left;
}