html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#banner-message {
    background-color: tomato;
}

#accordeon {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
