html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

form {
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

form > div {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

form label {
    flex-grow: 2;
    margin-right: 10px;
}

form input:not([type="submit"]) {
    width: 200px;
    line-height: 2em;
    font-size: 1em;
}

form input.error {
    background-color: rgba(255, 0, 0, .2);
    border: 1px solid red;
}

form input[type="submit"] {
    display: flex;
    margin: 0 auto;
    background-color: dodgerblue;
    border: 0;
    color: white;
    padding: 6px 20px;
    font-size: 1em;
    border-radius: 3px;
}