html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

div {
    display: inline-block;
    background: radial-gradient(farthest-corner at 45px 45px,#111111,#000000);
    color : white;
    width: 10vw;
    height: 10vw;
    color : white;
    font-size: 5em;
    font-family: Arial, sans-serif;
    border-radius : 50%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin : 1vw;
    overflow: hidden;
    position: relative;
    transform: translate(-2.5vw,0);
    transition : transform 1000ms;
}

span {
    position: absolute;
    left : -30%;
    top : 50%;
    transform: translate(-50%,-50%);
    transition : left 1000ms ease-out;
}

@keyframes ball {
    0% {
        left : -30%;
    }
    60% {
        left : 130%;
    }
    61% {
        left : -30%;
    }
    100% {
        left : 50%;
    }
}

div.active {
    transform: translate(0,0);
    background: radial-gradient(farthest-corner at 45px 45px,#e864b9,#b8003d,#770d24);
}

div.active span {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: ball;
}

ul {
    list-style: none;
    margin : 0;
    padding: 0;
}

ul li {
    text-align: center;
    background-color: tomato;
}

